n8n-workflow-facebook.json
{
  "name": "Facebook Auto Poster - CasaSmartFacile",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-cron",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "schedule"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1
      },
      "id": "google-sheets",
      "name": "Get Post Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "page": "={{ $json.pageId }}",
        "message": "={{ $json.content }}",
        "link": "={{ $json.link }}"
      },
      "id": "facebook-post",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetName": "Posts",
        "range": "A:D",
        "options": {
          "valueInputMode": "RAW"
        }
      },
      "id": "mark-posted",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Content": {
      "main": [
        [
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
